/* Estilos generales */
body {
    font-family: sans-serif;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la tabla */
#item-details {
    width: 100%;
    border-collapse: collapse;
}

#item-details th, #item-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#item-details th {
    background-color: #f2f2f2;
}

#item-details img {
    max-width: 100px;
    height: auto;
}

/* Estilos para los filtros y botones */
th {
    white-space: nowrap;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter, .search-button {
    width: 100%;
    margin-top: 5px;
}

/* Estilos para el contador de MLAs */
.mla-count-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilos para el indicador de carga */
#loading-indicator {
    display: none; /* Oculto por defecto */
    color: #007bff; /* Color azul de Bootstrap */
    font-weight: bold;
}

#loading-indicator .fa-spinner {
    margin-right: 5px;
}

/* Estilos para el contenedor del input de archivo */
.form-group .input-group {
    width: 400px; /* Ancho ajustado (puedes cambiarlo según tus necesidades) */
}

.form-group .custom-file {
    width: 100%; 
}

/* Estilos para las celdas de la tabla */
#item-details td {
    vertical-align: middle;
    text-align: center;
}

#item-details img {
    max-width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    #item-details img {
        max-width: 80px;
    }
}

/* Estilos para el contenido del modal */
.modal-body {
    
